table {
  border-spacing: 0;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ccc;
  padding: 5px;
}

table th {
  background: #eee;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background: linear-gradient(#1fa67b, white);
  line-height: 60px;
  color: black;
  vertical-align: middle;
  margin: 0;
}

header .container {
  border: 3px solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fa67b), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#1fa67b, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#1fa67b, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(#1fa67b, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, #1fa67b, rgba(0, 0, 0, 0)) 1 100%;
}

header p {
  margin: 0;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  text-decoration: dashed;
  color: black;
}

.logout:hover {
  color: blue;
}

.container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.form-container {
  display: inline-block;
}

.form {
  display: inline-block;
  margin: 10px;
}

.main p,
.main form {
  text-align: justify;
}

.container img {
  text-align: center;
}

.form-group {
  margin: 20px;
}

.form-control {
  display: block;
  height: 34px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.btn {
  font-family: sans-serif;
  width: auto;
  font-size: 14px;
  background: #ffe0e0;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.btn-prime {
  background-color: #1fa67b;
}

.btn:hover {
  color: #307517;
  background-color: #22daa4;
}

input {
  margin: 0 10px;
  width: 150px;
}

td:first-child,
th:first-child {
  width: 30px;
}

td:not(:first-child),
th:not(:first-child) {
  width: 185px;
}

table {
  margin: 20px auto;
}

.br {
  display: inline-block;
}